<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Sistema de empleados - Talento humano
  </a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="salir()">Salir</button>
  </form>
</nav>
<div style="height: 20px;"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-3 my-5">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarEmployee" (click)="toNew()"> Agregar Empleado </button>		
		</div>	
	</div>

	<div class="row">
		<div class="col-12">
			<table class="table">
			  	<thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Nombres</th>
				      <th scope="col">Apellidos</th>
				      <th scope="col">Documento</th>
				      <th scope="col">Correo</th>
				      <th scope="col">País de empleo</th>
				      <th scope="col">Acción</th>
				    </tr>
			  	</thead>
	  			<tbody>
				    <tr *ngFor="let employee of employees; let i = index;">
				      <th scope="row">{{ i }}</th>
				      <td>
				      	{{ employee.primerNombre }} 
				      	{{ employee.segundoNombre }}
				      </td>
				      <td>
				      	{{ employee.primerApellido }} 
				      	{{ employee.segundoApellido }}
				      </td>
				      <td>
				      	{{ identificationTypes[employee.tipoIdentificacion] }} 
				      	{{ employee.numeroIdentificacion }}
				      </td>
				      <td>
				      	{{ employee.correoElectronico }}
				      </td>
				      <td>
				      	{{ employee.paisEmpleo.countryName }}
				      </td>
				      <td>
				      	<a class="btn btn-success" (click)="editar(employee)">Editar</a>&nbsp;
				      	<a class="btn btn-danger" (click)="eliminar(employee)">Eliminar</a>
				      </td>
				    </tr>
			  	</tbody>
			</table>
			<div class="alert alert-info" style="margin: 15px;" 
			  		*ngIf="employees.length == 0">
                <span>No hay empleados creados</span>
            </div>
		</div>		
	</div>
</div>





<!-- Modal -->
<div class="modal fade" id="agregarEmployee" tabindex="-1" role="dialog" aria-labelledby="agregarEmployeeLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarEmployeeLabel">Agregar emplado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="container">
	        <div class="row">
	        	<div class="form-group col-12">
				    <label for="primerNombre">Primer Nombre</label>
				    <input type="text" class="form-control" id="primerNombre" aria-describedby="emailHelp" placeholder="Ingrese su primer nombre" [(ngModel)]="employee.primerNombre">
				</div>
				<div class="form-group col-12">
				    <label for="segundoNombre">Segundo Nombre</label>
				    <input type="text" class="form-control" id="segundoNombre" aria-describedby="emailHelp" placeholder="Ingrese su segundo nombre" [(ngModel)]="employee.segundoNombre">
				</div>
				<div class="form-group col-12">
				    <label for="primerApellido">Primer Apellido</label>
				    <input type="text" class="form-control" id="primerApellido" aria-describedby="emailHelp" placeholder="Ingrese su primer apellido" [(ngModel)]="employee.primerApellido">
				</div>
				<div class="form-group col-12">
				    <label for="segundoApellido">Segundo Apellido</label>
				    <input type="text" class="form-control" id="segundoApellido" aria-describedby="emailHelp" placeholder="Ingrese su segundo apellido" [(ngModel)]="employee.segundoApellido">
				</div>
				<div class="form-group col-12">
				    <label for="tipoIdentificacion">Tipo de documento</label>
				    <select class="form-control" id="tipoIdentificacion" [(ngModel)]="employee.tipoIdentificacion">
				    	<option value="">-Seleccione un tipo de documento-</option>
				    	<option *ngFor="let it of keys()" [value]="it">
				    		{{ identificationTypes[it] }}
				    	</option>
				    </select>
				</div>
				<div class="form-group col-12">
				    <label for="numeroIdentificacion">Número de documento</label>
				    <input type="text" class="form-control" id="numeroIdentificacion" aria-describedby="emailHelp" placeholder="Ingrese su número de documento" [(ngModel)]="employee.numeroIdentificacion">
				</div>				
				<div class="form-group col-12">
				    <label for="paisEmpleo">País de empleo</label>
				    <select class="form-control" id="paisEmpleo" [(ngModel)]="employee.paisEmpleo">
				    	<option [ngValue]="null">-Seleccione un país de empleo-</option>
				    	<option *ngFor="let country of countries" [ngValue]="country">
				    		{{ country.countryName }}
				    	</option>
				    </select>
				</div>
	        </div>
	    </div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" (click)="guardar()">
      		{{ action == 'save'? 'Guardar': 'Guardar cambios' }}
      	</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>        
      </div>
    </div>
  </div>
</div>